<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Test</title>
</head>
<body>
<button id="jsonFileRequest">Fetch json file</button>
<h4>Compact json file display:</h4>
<p id="displayArea"></p>
<button id="formatJson">Format Json file</button>
<h4>Easy-Read json file display:</h4>
<p>Total Layers Number:<span id="totalLayersNumber"></span></p>
<div id="displayAfterFormat"></div>
</body>
<script src="/static/library/jquery-3.3.1.min.js"></script>
<script src="/static/test.js"></script>
<script src="/static/commonutils.js"></script>
<script src="/static/jsonformat.js"></script>
<link rel="stylesheet" href="/static/library/bootstrap.min.css">
<link rel="stylesheet" href="/static/selfdefine.css">
</html>